[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlite-utils = "*"
datasette = "*"
sphinx = "*"
sphinx-autobuild = "*"
pep8 = "*"
pyflakes = "*"
python-coveralls = "*"

[dev-packages]

[requires]
python_version = "3.9"
